@charset 'utf-8';

.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  form {
    width: 400px;
  }
  
  .input_row {
    position: relative;
    margin: 2rem 0;
    
    input {
      padding: 1.5rem 1rem;
      width: 100%;
      height: 6rem;
      background-color: var(--color_sub_block);
      border: 1px solid transparent;
      color: var(--color_title);
      text-indent: 3rem;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
      color: var(--color_caption2);
    }

    .password_wrapper {
      position: relative;
    }
    
    .not_password {
      display: block;
      margin-top: 1rem;
      font-size: 1.2rem;
      color: #ff0000;
    }
  }

  .input_row.focus {
    svg {
      color: var(--color_main);
    }
    input {
      border: 1px solid var(--color_main);
    }
  }

  .show_password_button {
    margin: 2rem 0;
    font-size: 1.4rem;

    input[type=checkbox] {
      display: none;
    }

    input[type=checkbox] + svg {
      color: var(--color_icon1);
      cursor: pointer;
    }
    
    input[type=checkbox]:checked + svg {
      color: var(--color_main);
    }

    input[type=checkbox]:checked ~ .show_password_title {
      color: var(--color_main);
    }

    .show_password_title {
      margin-left: 1rem;
      line-height: 2rem;
      color: var(--color_caption2);
      cursor: pointer;
    }
  }

  .join_button {
    width: 400px;
    margin-top: 2rem;
    text-align: right;

    button:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 768px) {
  .login_container {
    height: calc(100vh - 10rem);
  }
}