@charset 'utf-8';
@import '@styles/_variables.scss';
.btn {
  background-color: transparent;
  font-size: 1.4rem;
  svg {
    margin-right: 0.4rem;
  }
  &.mobileNone {
    svg {
      margin-right: 0;
    } 
  }
  &.cercle {
    display: grid;
    place-content: center;
    width: 4.6rem;
    height: 4.6rem;
    background-color: var(--color-white);
    border-radius: 3rem; 
  }
  &.fillWhite {
    padding: 0 1.2rem;
    height: 4.6rem;
    background-color: var(--color-white);
    border-radius: 3rem; 
  }
  &.fillMain {
    color: $G-color-white;
    background-color: var(--color-main);
  }
  &.width {
    width: 100%;
  }
  &.height6 {
    height: 6rem;
  }
  &.border {
    border: 1px solid var(--color-gray555);
  }
  &.color {
    color: $G-color-main;
  }
}

@media screen and (max-width: 768px) {
  .text {
    &.mobileNone {
      display: none;
    }
  }
}