.btn {
  background-color: transparent;

  &.cercle {
    display: grid;
    place-content: center;
    width: 4.6rem;
    height: 4.6rem;
    background-color: var(--color-white);
    border-radius: 3rem; 
  }  
}