@charset 'utf-8';
.main_contianer {
  padding-bottom: 12rem;

  .title_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn_wrap {
    display: flex;

    button {
      margin-left: 1.6rem;

      svg {
        margin-right: 0.4rem;
      }
    }
  }
}