@charset 'utf-8';
.main_contianer {
  padding-top: calc(70px + 8rem);
  padding-bottom: 12rem;

  .title_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn_wrap {
    display: flex;

    button {
      margin-left: 1.6rem;
    }
  }
}