@charset "utf-8";
$G-color-black: #000;
$G-color-gray555: #555;
$G-color-gray999: #999;
$G-color-lightgray: #ccc;
$G-color-line: #eee;
$G-color-bg-f5f5f5: #F5F5F5;
$G-color-white: #fff;
$G-background-color: #f2f5f7;
$G-color-main: #3f40f4;
