@charset "utf-8";
@import "./variables";

html {
  --color_main: #3f40f4;
  --color_title: #000;
  --color_body: #f2f5f7;
  --color_setting_bg: #fff;
  --color_sub_block: #f5f5f5; 
  --color_option_bg: #2e2f30;
  --color_caption1: #555;
  --color_caption2: #999;
  --color_border1: #eee;
  --color_border2: #555;
  --color_button: #fff;
  --color_button2: #fbfbfb;
  --color_icon1: #999;

  body {
    background-color: var(--color_body);
  }
  .container {
    background-color: var(--color_body);
  }
}

html[data-theme=DARK] {
  --color_title: #fff;
  --color_body: #1e1e1e;
  --color_setting_bg: #272829;
  --color_sub_block: #313233; 
  --color_option_bg: #2e2f30;
  --color_caption1: #ccc;
  --color_caption2: #b5b5b5;
  --color_border1: #383c3c;
  --color_border2: #555;
  --color_button: #2e2f30;
  --color_button2: #363738;
}