@charset "utf-8";
@import  "@styles/_variables.scss";
.wrapper {
  position: relative;
  padding: 0 4rem;
  width: 100%;
  max-width: 1800px;
  height: 100%;
}

// @media screen and (max-width: 1200px) {
//   .wrapper {
//     padding: 0 2rem;
//     width: 100%;
//     // margin: 0 auto;
//   } 
// }