@charset 'utf-8';

.join_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  form {
    margin: 0 auto;
    width: 460px;   
  }

  .input_row {
    display: flex;
    flex-direction: column;

    .join_title {
      margin: 2rem 0 1rem;
      font-size: 1.4rem;
    }  

    .error_title {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: #ff0000;
    }
  }

  .input_box {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 10rem 1rem 1.5rem;
    width: 100%;
    height: 6rem;
    background-color: var(--color-white);
    border: 1px solid transparent;
    cursor: text;

    input {
      width: 100%;
      font-size: 1.4rem;
      cursor: text;
    }

    &.input_id {
      padding: 1rem 1.5rem;
    }
    &.focus {
      border-color: var(--color-main);
    }
  }

  .confirm_box {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: var(--color-gray999);
    
    span {
      margin-right: 0.5rem;
    }

    &.error {
      color: #ff0000;
    }

    &.success {
      color: var(--color-main);
    }
  }
}

@media screen and (max-width: 768px) {
  .join_container {
    height: calc(100vh - 10rem);
  }
}