@charset 'utf-8';
.checkbox {
  margin-bottom: 1.4rem;
  
  svg {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
  }
  
  input[type=checkbox] {
    display: none;

    &:checked + svg {
      color: var(--color-main);
    }
  }
}