@charset "utf-8";
@import "@styles/_variables.scss";
.nav_container {
  margin-top: 4rem;
  height: 100%;

  li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    font-size: 1.6rem;
    
    svg {
      margin-right: 1rem;
    }

    &.active {
      color: var(--color-main);
    }

    &.active::after {
      content: '';
      position: absolute;
      top: 0;
      right: -2rem;
      display: block;
      width: 4px;
      height: 100%;
      background-color: black;
      border-radius: 2px;
    }
  }
}
